.container{
  /* padding: 20px; */
  text-align: center;
  margin: auto;
  width: 70%;
}
.dice{
  display: inline-block;
  text-align: center;
  padding: 0.5%;
}

body {
  background-color: #393E46;
}


h1{
  font-size: 8rem;
  font-family: 'Lobster',cursive;
  color: #4ECCA3;
  margin: 30px;
  text-shadow: 5px 0 #232931;
}

/

p{
  font-family: 'Indie Flower', cursive;
  color: #4ECCA3;
  font-size: 2rem;
}
img {
  /* width: 80%; */
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
